.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}
.content{
  padding-bottom: 2.5rem;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color:aliceblue;
}

.nobull {
  list-style-type: none;
 }

.navbar{
  background-color: aliceblue;
}